#root {
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: auto;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}